@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  @apply bg-primary;
}
main {
  @apply mx-auto my-6 max-w-5xl px-4 sm:px-8;
}
section {
  @apply mb-8;
}
